/Internet Gambling over 300-brl.irl
/Over 50,000 currency units-brl.irl
/Over limit by country-dta.irl
/Over £2000 at specified merchants-brl.irl
/Selected Foreign ATM over 250 Euros-brl.irl
/Swiped Jewelery over £450 in Spain-brl.irl
/Telecoms limits by country-dta.irl
