/F1040-004 Adjusted Gross Income-brl.irl
/F1040-005 First name-brl.irl
/F1040-006 Last name-brl.irl
/F1040-007 Married Allowance-brl.irl
/F1040-008 SSN-brl.irl
/F1040-009 Single Allowance-brl.irl
/F1040-010 Taxable Income Floor-brl.irl
/F1040-011 Taxable Income-brl.irl
/F1040-012 Total Payments-brl.irl
